# Predict Covid Spread - Data Cleaning Complete

In [12]:
import pandas as pd
from os.path import exists
import warnings

warnings.filterwarnings('ignore')

# Reading in file
data = pd.read_csv('Complete Covid Dataset/covid_19_clean_complete.csv',parse_dates=['Date'])

# Dropping unnecessary columns
data.drop('Lat', axis=1, inplace=True)
data.drop('Long', axis=1, inplace=True)
data.drop('WHO Region', axis=1, inplace=True)

# Renaming columns
data.rename(columns={'Province/State': 'State',
                     'Country/Region': 'Country'}, inplace=True)

# Grouping states into one Country Value
data = data.groupby(['Country','Date'], as_index=False).sum()

# Sorting by Date
data = data.sort_values(by=['Date','Country'])
data = data.reset_index(drop=True)

# Making train and test sets
train = data.iloc[:28050, :]
test = data.iloc[28050:,:]

train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

train

                  Country       Date  Confirmed  Deaths  Recovered  Active
0             Afghanistan 2020-01-22          0       0          0       0
1                 Albania 2020-01-22          0       0          0       0
2                 Algeria 2020-01-22          0       0          0       0
3                 Andorra 2020-01-22          0       0          0       0
4                  Angola 2020-01-22          0       0          0       0
...                   ...        ...        ...     ...        ...     ...
28045  West Bank and Gaza 2020-06-19        675       3        437     235
28046      Western Sahara 2020-06-19          9       1          8       0
28047               Yemen 2020-06-19        919     251        288     380
28048              Zambia 2020-06-19       1430      11       1194     225
28049            Zimbabwe 2020-06-19        479       4         63     412

[28050 rows x 6 columns]

In [13]:
test

                 Country       Date  Confirmed  Deaths  Recovered  Active
0            Afghanistan 2020-06-20      28424     569       8292   19563
1                Albania 2020-06-20       1891      43       1126     722
2                Algeria 2020-06-20      11631     837       8324    2470
3                Andorra 2020-06-20        855      52        792      11
4                 Angola 2020-06-20        176       9         66     101
...                  ...        ...        ...     ...        ...     ...
7101  West Bank and Gaza 2020-07-27      10621      78       3752    6791
7102      Western Sahara 2020-07-27         10       1          8       1
7103               Yemen 2020-07-27       1691     483        833     375
7104              Zambia 2020-07-27       4552     140       2815    1597
7105            Zimbabwe 2020-07-27       2704      36        542    2126

[7106 rows x 6 columns]

In [15]:
# Exporting files
file_path = '[Cleaned] Complete Data/train.csv'
file_path2 = '[Cleaned] Complete Data/test.csv'

if not exists(file_path):
    train.to_csv(file_path)

if not exists(file_path2):
    test.to_csv(file_path2)